<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 
</head>
<body>
 <h1>Liandra A. Whittaker</h1>
 <section class="container">
   <img src="{{ url_for('static', filename='css/Liandra.jpg') }}" alt="Picture of Liandra" >
 </section>

 <p>My name is Liandra A. Whittaker. I am 20 years old. My favourite colour is green. 
    I like to watch sports. My favourite sports to watch are volleyball, basketball, track and field and swimming.
    I am pursuing a bachelor's degree in Software Engineering. In the future I want to become a Data Scientist.  
 </p>
</body>
</html> 